body{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
p {
    font-family: "Times New Roman";
    font-size: 120%;
}
h2{
	font-size: 180%;
	color:#828f80;
	font-weight: bold;

}
h3{
	font-size: 120%;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
#menu li {
    float: left;
    text-transform: uppercase;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}
#menu li a:hover {
    background-color: #397881;
}
#menu li a:visited{
	color:#baad4a;
}
#menu li a:active{
  color: #828f80;
}
#menu_movil{
	display: none;
}
#menu_movil ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
#menu_movil li {
    float: left;
    text-transform: uppercase;
}
#menu_movil li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
}
#menu_movil li a:hover {
    background-color: #397881;
}
#menu_movil li a:visited{
	color:#baad4a;
}
#menu_movil li a:active{
  color: #828f80;
}
#principal{
	width: 1000px;
	margin:auto;
}
#cabezera{
	background-image: url("../img/logo.png");
	width: 1000px;
	margin: auto;
	height: 140px;
	background-repeat: no-repeat;
	background-color: white;
}
#social_top{
	float: right;
	font-size: 24px;
}
#social_top a{
	text-decoration: none;
}
#img_principal{
margin-top: 20px;
	width: 1000px;
	background-image: url("../img/banner.jpg");
	height: 400px;
	background-size: auto;
}
#izq{
	float: left;
	width: 60%;
	height: 1200px;
}
#columna1{
	width: 45%;
	float:left;

}
#columna4{
	width: 45%;
	float:left;
	margin-left: 9%;

}
#columna5{
	width: 45%;
	float:left;
	margin-left: 9%

}
#columna2{
	width: 45%;
	float:left;
}
#columna3{
	width: 30%;
	float:right;
	height: 1200px;
}
#columna1 img{
width: 320px;
margin: auto;
padding-top: 20px;
}
#columna4 img{
width: 320px;
margin: auto;
padding-top: 20px;
}
#columna5 img{
width: 320px;
margin: auto;
padding-top: 20px;
}
#columna2 img{
padding-top: 20px;
width: 320px;
margin: auto;
}
#columna3 img{
padding-top: 20px;
width: 320px;
margin: auto;
}
#footer1{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
}
#footer2{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
}
#footer3{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
}
#footer3 ul {
    list-style-type: none;
    margin: 0;
    padding-top: 30px;
    background-color: #333333;

}

#footer3 li a {
    display: block;

    padding: 10px 16px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

#footer3 li a:hover {
    background-color: #397881;
    color: white;
}
#footer3 li a:visited{
	color:#baad4a;
}
#footer3 li a:active{
  color: #828f80;
}
@media only screen and (max-width: 1025px){
	#menu{
		display: none;
	}
	#menu_movil{
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	#boton_movil{
		font-size: 50px;
		padding: 6px;
		border: 6px solid;
	}
	#boton_movil:hover{
		background-color: #397881;
	}
	#principal{
		width: 100%;
	}
	#cabezera{
		width: 100%;
	}

	#izq{
		width: 45%;
		height: 100%;
	}
	#columna1{
	width: 100%;
	}
	#columna2{
	width: 100%;
	margin: 0;
	}
	#columna4{
	width: 100%;
	margin: 0;
	}
	#columna5{
	width: 100%;
	margin: 0;
	}
	#columna3{
	width: 40%;
	float: left;
	height: 2100px;
	padding-left: 5%;
	}
	#columna1 img{
	width: 85%;
	padding-top: 20px;
	}
	#columna2 img{
	width: 85%;
	padding-top: 20px;
	}
	#columna4 img{
	width: 85%;
	padding-top: 20px;
	}
	#columna5 img{
	width: 85%;
	padding-top: 20px;
	}
	#footer{
		width: 100%;
		height: 100%;
	}
	#footer1{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
	}
	#footer2{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
	}
	#footer3{
	width: 33%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
	}
}
@media only screen and (max-width: 650px){
#principal{
		width: 100%;
		height: 100%;
	}
	#izq{
		width: 100%;
		height: 100%;
	}
	#columna1{
	width: 100%;
	}
	#columna2{
	width:100%;
	margin:0;
	}
	#columna3{
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	}
	#columna1 img{
	width: 85%;
	padding-top: 20px;
	}
	#columna2 img{
	width: 85%;
	padding-top: 20px;
	}
	#columna3 img{
	width: 85%;
	height: 100%;
	padding:;
	}
	#footer1{
	width: 49%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
	}
	#footer2{
	display: none;
	}
	#footer3{
	width: 49%;
	float:left;
	height: 300px;
	background-color: #333333;
	color:white;
	box-sizing: border-box;
	border:dotted;
	}
	#img_principal{
		display: none;
	}
}
